all:
  sfPhorumPlugin:
    vendor_dir:             /path/to/phorum
    routes_register:        on       # Use the plugin's routes
    auto_usersync:          on       # if this is enabled sfPhorumPlugin will automatically
                                     # create the phorum user, else you are responsible for
                                     # doing this yourself. See
                                     # sfPhorumPluginConnector::get_user_id() for example.
    slave_fields:                    # slave fields are fields that phorum's 'control center'
      - real_name                    # will allow the user to edit
      - signature
      - hide_email
      - hide_activity
      - moderatoin_email
      - tz_offset
      - is_dst
      - user_language
      - user_template
      - threaded_list
      - thraeded_read
      - email_notify
      - show_signature
      - pm_email_notify

